
h1 {
    background: linear-gradient(to right, #3B6DC3, #303B8C,#230656);
    color: white;
}

form label {
    font-size: 25px;
}

.day {
    background-color: #33475A;
    color: white;
    font-size: 10px;
}

.low {
    background-color: green;
    color: white;
}

.moderate {
    background-color: yellow;
    color: white;
}

.high {
    background-color: orange;
    color: white;
}

.veryHigh {
    background-color: red;
    color: white;
}